section {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    .container {
        margin-top: 100px;
        width: 80%;
        height: 600px;
        .form-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            float: left;
            width: 50%;
            height: 500px;
            h1 {
                font-size: 50px;
                color: $color_text;
            }
            p {
                font-size: 20px;
                color: $color_text;
            }
            p:last-child {
                font-size: 10px;
                color: $color_text;
            }
            .btn-large:hover {
                background-color: darkblue;
            }
        }
        .form-right {
            float:right;
            padding-left: 80px;
            width: 50%;
            height: 500px;
            img {
                height: 400px;
                width: 500px;
            }
        }
    }
}
section.traditional {
    background-color: $secondary_color;
    height: 1000px;
    .container-1 {
        width: 80%;
        height: 900px;
        border-bottom: 2px solid #cdc1b8;
        .traditional-people {
            width: 700px;
            margin: 0 auto;
            h2 {
                color: $color_text;
                text-align: center;
                padding: 40px;
            }
        }
        .blocco-image {
            display:flex;
            justify-content: center;
            padding-top: 50px;
            width: 100%;
            height: 250px;
            .image {
                width: 250px;
                height: 200px;
                float: left;
                text-align: center;
                img {
                    width: 150px;
                    height: 100px;
                    margin-bottom: 20px;
                }
                .small {
                    width: 80px;
                    height: 100px;

                }
                p {
                    color: $color_text;
                    font-size: 15px;
                }
            }

        }
    }
    .image-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        img {
            width: 350px;
            height: 350px;
        }
    }

}
